Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.) Python
2.) R
3.) Julia

Some of the commonly used libraries used by Data Scientists include:

1.) Numpy
2.) Pandas
3.) Matplotlib
4.) Scikit-learn

Data Science Tools :

1.) Jupyter-notebook
2.) R Studio
3.) Google Colab

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
10+23

33

In [2]:
10*34

340

In [3]:
23/2

11.5

In [4]:
45-34

11

In [5]:
(3*4)+5

17

Create a code cell to convert minutes to hours

In [6]:
#This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

 Insert a markdown cell to list Objectives

Objectives:
 . List for Data Science languages
 . List for Data Science Tools
 . List of Data Science Library

Author

Sanjeev Kumar Prajapati